

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/* This is for Header.js */
.header {
  display: flex;
  align-content: center;
  justify-content: left;
  height: 20vh;
  width: 100%;
  background-color: #282c34;
  color: white;
}
.header h1 {
  font-family: 'Times New Roman', Times, serif;
  margin-left: 20px;
  font-size: 3rem;
  padding: 10px;
  margin-top: 30px;
}

/* for the info boxes */
#content-boxes {
  background-color: rebeccapurple;
  display: flex; 
  padding: 20px;
  justify-content: center;
  align-content: center;
}
@media screen and (max-width: 700px) {
  #content-boxes {
    flex-flow: column wrap;
  }
}

#info-box-picture {
  font-size: 200px;
  position: relative;
  top: -120px;
  border-radius: 100%;
}

.info-box.img h3 {
  margin-top: -10%;
}

.info-box p {
  padding: 10px;
  line-height: 2rem;
}


.info-box {
  margin: 10px;
  display: block;
  text-align: center;
  background-color: white;
  height: 8rem;
  width: 16rem;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 10px 20px black;
}

.info-box.small {
  width: 32rem;
  height: 16rem;
}

.info-box.medium {
   width: 40rem;
  height: 20rem;
}

.info-box.large {
  width: 50rem;
  height: 25rem;
}


.info-box:hover {
  animation: hover 1s ease-in-out;
  animation-iteration-count: 1;
}

@keyframes hover {
  0% {
      transform: translate(0px, -2px);
  }
  50% {
      transform: translate(0px, -5px);
  }
  75% {
      transform: translate(0px, -10px);
      box-shadow: 0px 20px 50px black;
  }
  100% {
     transform: translate(0px, -5px);
      box-shadow: 0px 15px 30px black;
  }
}