footer {
    position: fixed;
    width: 100%;
    bottom: 0;
    height: 10vh !important;
    background-color: #282c3454;
    color: white;
    display: flex;
    justify-content: center;
}

button {
    padding: 5px;
    display: block;
    margin-left: 10px;
    border-radius: 50px;
}
