.content {
  height: 80vh;
  background-color: white;
}

.Nav {
    position: fixed;
    top: 0px; 
    right: 0px;
}

nav button {
    position: fixed;
    top: 20px; 
    right: 150px; 
    border: none;
    padding: 1rem;
    border-radius: 30%;
 }


 btn.active {
     transform: translateX(-150px);
 }

nav {
    height: 100vh;
    background-color: white;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    transform: translateX(100%);
    transition: transform .5s ease-in-out;
    background-color: rebeccapurple;
}

nav.active {
    transform: translateX(0);
}

nav ul {
    padding: 0;
    list-style-type: none;
    margin: 0px;
}

nav ul li {
    padding: 1rem;
}

nav a {
    padding: 1rem;
    background-color: rebeccapurple;
    color: white;
    text-decoration: none;
    
}

/* added more css */
.pieContainer {
    height: 600px;
    display: flex; 
    align-items: center;
    justify-content: center;
    
  }
  
  .pieBackground {
    position: absolute;
    width: 150px;
    height: 150px;
    border-radius: 100%;
    box-shadow: 0px 0px 8px rgba(0,0,0,0.5);
  } 
  
  .pie {
    transition: all 1s;
    position: absolute;
    width: 150px;
    height: 150px;
    border-radius: 100%;
    clip: rect(0px, 75px, 150px, 0px);
  }
  
  .hold {
    position: absolute;
    width: 150px;
    height: 150px;
    border-radius: 100%;
    clip: rect(0px, 150px, 150px, 75px);
  }
  
  #pieSlice1 .pie {
    background-color: white;
    transform:rotate(30deg);
    text-align: center;
  }
  
  #pieSlice2 {
    transform: rotate(30deg);
  }
  
  #pieSlice2 .pie {
    background-color: #0a0;
    transform: rotate(60deg);
  }
  
  #pieSlice3 {
    transform: rotate(90deg);
  }
  
  #pieSlice3 .pie {
    background-color: #f80;
    transform: rotate(120deg);
  }
  
  #pieSlice4 {
    transform: rotate(210deg);
  }
  
  #pieSlice4 .pie {
    background-color: #08f;
    transform: rotate(10deg);
  }
  
  #pieSlice5 {
    transform: rotate(220deg);
  }
  
  #pieSlice5 .pie {
    background-color: #a04;
    transform: rotate(70deg);
  }
  
  #pieSlice6 {
    transform: rotate(290deg);
  }
  
  #pieSlice6 .pie {
    background-color: #ffd700;
    transform: rotate(70deg);
  }
  
  /*     .innerCircle {
    position: absolute;
    width: 120px;
    height: 120px;
    background-color: #444;
    border-radius: 100%;
    top: 15px;
    left: 15px; 
    box-shadow: 0px 0px 8px rgba(0,0,0,0.5) inset;
    color: white;
  }
  .innerCircle .content {
    position: absolute;
    display: block;
    width: 120px;
    top: 30px;
    left: 0;
    text-align: center;
    font-size: 14px;
  } */
  
  /* This is for the falling hearts */
  .heart {
    font-size: 2rem;
    position: fixed;
    top: 0;
    transform: translateY(0);
    animation: fall 3s linear forwards;
  }
  
  @keyframes fall {
    to {
      transform: translateY(105vh);
    }
  }
  
